<% layout('../layouts/boilerplate') %>
<link rel="stylesheet" href="/style/style.css">

<div class="main-body">
  <div class="row mb-5 mt-3" style=" margin-left: 1px;">
    <div class="card mb-3 col-4 p-0" style="width: 20rem;">
      <img src="<%= campground.image %>" class="card-img-top img-fluid" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= campground.title %></h5>
        <p class="card-text"><%= campground.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">$<%= campground.price %>/night</li>
        <li class="list-group-item"></i><%= campground.location %></li>
        <li class="list-group-item"></i>contact: #</li>
      </ul>
      <div class="card-body">
        <% if (userStatus && campground.author.equals(userStatus._id)){ %>
          <div class="d-flex justify-content-start mb-3">
            <a class="btn btn-warning me-2" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
            <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="post">
                <button class="btn btn-danger">Delete</button>
            </form>
          </div>
        <% } %>
        <a href="/campgrounds" class="card-link">show all Campgrounds</a>
      </div>
    </div>
    <div class="mb-3"></div>
      <h5>About the Owner:</h5>
      <div class="card p-0" style="width: 20rem;">
        <img src="<%= campground.author.img %>" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><%= campground.author.bio %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="comment-box" data-spy="scroll" style=" max-height: 600px; overflow-y: auto;">
        <h5>Customer Say:</h5>
          <% for (let item of campground.reviews) {%>
            <div class="card mb-3">
              <div class="card-body">
                <% if (item.author) { %>  <!-- Check if author exists -->
                  <h5 class="card-title">Author: <%= item.author.username %></h5>
                <% } else { %>
                    <h5 class="card-title">Author: Unknown</h5> <!-- Default if no author -->
                <% } %>
                <!-- <h5 class="card-title">Rating: <%= item.rating %></h5> -->
                <p class="starability-result" data-rating="<%= item.rating %>"></p>                
                <p class="card-text"><%= item.body %></p>
                <!-- <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a> -->
                <% if (userStatus && item.author && item.author.equals(userStatus._id)) {%>
                  <form action="/campgrounds/<%= campground._id %>/reviews/<%= item._id %>?_method=DELETE" method="post">
                    <button type="submit" class="btn btn-sm  btn-danger">Delete</button>
                  </form>
                <% } %>
              </div>
            </div>
          <%}%>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  </div>
  </div>
  <div class="m-0">
      <form class="mb-3 needs-validation" action="/campgrounds/<%= campground._id %>/reviews" method="post" novalidate>
          <h3 class="mb-3">Leave a Review</h3>
          <!-- <div class="mb-3">
              <label class="form-label" for="range">Rating</label>
              <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="range" step="1">
          </div> -->
          <fieldset class="starability-basic mb-1">
            <!-- <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." /> -->
            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="review[rating]" value="3" checked/>
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
          <div class="mb-3">
              <label for="body">Write a Review</label>
              <textarea class="form-control" name="review[body]" id="body" rows="5" cols="30" required></textarea>
              <div class="valid-feedback">
                  Looks good!
                </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit Review</button>
      </form>
  </div>
</div>


